.App {
  text-align: center;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
  max-width: 560px;
  color: #444;
}

h1 {
  color: #666;
}

h2 {
  color: #333;
}

button,
.BookmarkItem__button {
  border: 1px solid #aaa;
  background-color: #eee;
  font: 400 13.3333px Arial;
  font-size: ;
  border-radius: 4px;
  padding: 1px 6px;
  color: black;
  text-decoration: none;
  margin-left: 8px;
}

@media screen and (min-width: 460px) {
  body,
  input,
  textarea {
    font-size: 1.1em;
  }
}
